.row
  .col-xs-2
  .col-xs-8

    = form_for @user, :html => {class: 'form-horizontal bordered', role: 'form'} do |form|
      %h2 Sign up for free
      %hr
      = render 'shared/model_errors', :m => @user
      = render 'users/form', :form => form
      .form-group
        .col-lg-offset-2.col-xs-10
          = form.submit 'Sign up', :class => 'btn btn-primary'
          = cancel_submit_link_btn root_path
  .col-xs-2