%html
  %head
    %meta{charset: 'utf-8'}
    %title= @title.blank? ? 'Moment' : "#{@title} | Moment"
    = stylesheet_link_tag 'bootstrap/bootstrap', :media => 'all'
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      = render 'layouts/header'
      = render 'layouts/notification'
      = yield
    = render 'layouts/footer'
